
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myEnginLabel" >Créer ou modifier  Engin</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.engin.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_numeroChassis">Numero Chassis <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_numeroChassis" ng-model="vm.engin.numeroChassis"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_marque">Marque <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.engin.marque"    ng-required="true">
                            <ui-select-match placeholder="Select Marque">{{$select.selected.libelle}}</ui-select-match>
                            <ui-select-choices repeat="marque in vm.marques | filter: $select.search">
                                <div ng-bind-html="marque.libelle | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('Marque','marque','marque', vm.engin.marque)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.engin.marque">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('Marque', 'marque','marque', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.engin.marque">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_model">Model</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_model" ng-model="vm.engin.model"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
