<div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span >ID</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="activite"><span >Activite</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="entrepot"><span >Entrepot</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="identifiant"><span >Identifiant</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="unite"><span >Unite</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="dateTransaction"><span >Date Transaction</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="lastOut"><span >Last Out</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="lastIn"><span >Last In</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="cumulEntree"><span >Cumul Entree</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="cumulSortie"><span >Cumul Sortie</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="soldeInitial"><span >Solde Initial</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="soldeFinal"><span >Solde Final</span> <span class="fa fa-sort"></span></th>
                        <th >
                            <button class="btn btn-primary" ui-sref="liste-articles.new"   tooltip="Créer ListeArticles">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listeArticles in vm.listeArticless track by listeArticles.id">
                        <td>{{listeArticles.id}}</td>
                         <td>{{listeArticles.activite}}</td>
                         <td>{{listeArticles.entrepot}}</td>
                         <td>{{listeArticles.identifiant}}</td>
                         <td>{{listeArticles.unite}}</td>
                         <td>{{listeArticles.dateTransaction | date:'mediumDate'}}</td>
                         <td>{{listeArticles.lastOut | date:'mediumDate'}}</td>
                         <td>{{listeArticles.lastIn | date:'mediumDate'}}</td>
                         <td>{{listeArticles.cumulEntree}}</td>
                         <td>{{listeArticles.cumulSortie}}</td>
                         <td>{{listeArticles.soldeInitial}}</td>
                         <td>{{listeArticles.soldeFinal}}</td>
                        <td >
                            <button type="submit"   ui-sref="liste-articles.edit({id:listeArticles.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="liste-articles.delete({id:listeArticles.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>