<div class="bg-light lter b-b wrapper-md" >

 <nav aria-label="breadcrumb" style="font-size: 19px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i class="fa fa-user"></i> Utilisateurs</a></li>
  </ol>
</nav>

   <!--  <nav class="navbar navbar-default" role="navigation" style="font-size: 19px">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a>
                            <i class="fa fa-user"></i> 
                            Utilisateurs
                        </a>
                    </li>
                </ul>
            </div>
        </nav> -->
</div>

<div class="wrapper-md">

    <jhi-alert></jhi-alert>

    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">

                <div class="form-group" style='float: right;'>
                 <button class="btn btn-primary" ui-sref="user-management.new" tooltip="Ajouter un utilisateur"><i class="fa fa-plus"></i></button>
                </div>

                 <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th><span data-translate="global.field.id">ID</span></th>
                            <th><span data-translate="userManagement.login">Login</span> </th>
                            <th><span data-translate="userManagement.email">Email</span> </th>
                            <th>Statut</th>
                            <th>Roles</th>
                            <th>Created Date</th>
                            <th>Last Modified By</th>
                            <th>Last Modified Date </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.users track by user.id">
                            <td>{{user.id}}</td>
                            <td>{{user.login}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                                        data-translate="userManagement.deactivated">Deactivated</button>
                                <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                                        ng-disabled="vm.currentAccount.login == user.login" data-translate="userManagement.activated">Activated</button>
                            </td>
                            <td>
                                <div ng-repeat="authority in user.authorities">
                                    <span class="label label-info">{{ authority}}</span>
                                </div>
                            </td>
                            <td>{{user.createdDate| date:'dd/MM/yy HH:mm'}}</td>
                            <td>{{user.lastModifiedBy}}</td>
                            <td>{{user.lastModifiedDate| date:'dd/MM/yy HH:mm'}}</td>
                            <td >

                                <button type="submit"
                                        ui-sref="user-management.edit({login:user.login})"
                                        class="btn btn-sm btn-default"  tooltip="Modifier">
                                    <i class="fa fa-edit">
                                    </i>
                                </button>
                                <button type="submit"
                                        ui-sref="user-management.delete({login:user.login})"
                                        class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login == user.login"   tooltip="Supprimer">
                                    <i class="fa fa-trash">
                                    </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
