
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myStatutZonesProduitLabel" >Créer ou modifier  StatutZonesProduit</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.statutZonesProduit.id"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_entrepot">Entrepot</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_entrepot" ng-model="vm.statutZonesProduit.entrepot"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_entrepotId">Entrepot Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_entrepotId" ng-model="vm.statutZonesProduit.entrepotId"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_produit">Produit</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_produit" ng-model="vm.statutZonesProduit.produit"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_unite">Unite</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_unite" ng-model="vm.statutZonesProduit.unite"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_quantite">Quantite</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_quantite" ng-model="vm.statutZonesProduit.quantite"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_statut">Statut</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_statut" ng-model="vm.statutZonesProduit.statut"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
