
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myEntrepotProduitLabel" >Créer ou modifier  EntrepotProduit</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.entrepotProduit.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_produit">Produit <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.entrepotProduit.produit"    ng-required="true">
                            <ui-select-match placeholder="Select Produit">{{$select.selected.denomination}}</ui-select-match>
                            <ui-select-choices repeat="produit in vm.produits | filter: $select.search">
                                <div ng-bind-html="produit.denomination | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('Produit','produit','produit', vm.entrepotProduit.produit)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.entrepotProduit.produit">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('Produit', 'produit','produit', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.entrepotProduit.produit">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_entrepot">Entrepot <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.entrepotProduit.entrepot"    ng-required="true">
                            <ui-select-match placeholder="Select Entrepot">{{$select.selected.libelle}}</ui-select-match>
                            <ui-select-choices repeat="entrepot in vm.entrepots | filter: $select.search">
                                <div ng-bind-html="entrepot.libelle | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('Entrepot','entrepot','entrepot', vm.entrepotProduit.entrepot)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.entrepotProduit.entrepot">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('Entrepot', 'entrepot','entrepot', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.entrepotProduit.entrepot">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_stockTheorique">Stock Theorique</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_stockTheorique" ng-model="vm.entrepotProduit.stockTheorique"                     ng-readonly="true"  ng-required="false"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_stockPhysique">Stock Physique</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_stockPhysique" ng-model="vm.entrepotProduit.stockPhysique"                     ng-readonly="false"  ng-required="false"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_ecart">Ecart</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_ecart" ng-model="vm.entrepotProduit.ecart"                     ng-readonly="true"  ng-required="false"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_seuilAlerte">Seuil Alerte <span style="color:red" >*</span></label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_seuilAlerte" ng-model="vm.entrepotProduit.seuilAlerte"                     ng-readonly="false"  ng-required="true"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_seuilSurStockage">Seuil Sur Stockage <span style="color:red" >*</span></label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_seuilSurStockage" ng-model="vm.entrepotProduit.seuilSurStockage"                     ng-readonly="false"  ng-required="true"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_EnSurchauffe">En Surchauffe</label>
 <div class="form-control">
            <label class="i-checks">
                <input type="checkbox" checked  ng-model="vm.entrepotProduit.EnSurchauffe"   id="field_EnSurchauffe"  name="EnSurchauffe" /><i></i> 
            </label>
        </div>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_EnManque">En Manque</label>
 <div class="form-control">
            <label class="i-checks">
                <input type="checkbox" checked  ng-model="vm.entrepotProduit.EnManque"   id="field_EnManque"  name="EnManque" /><i></i> 
            </label>
        </div>
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
