<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">EntrepotProduits</h1>
    <small class="text-muted"></small>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">

        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span >ID</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="produit"><span >Produit</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="entrepot"><span >Entrepot</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="stockTheorique"><span >Stock Theorique</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="stockPhysique"><span >Stock Physique</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="ecart"><span >Ecart</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="seuilAlerte"><span >Seuil Alerte</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="seuilSurStockage"><span >Seuil Sur Stockage</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="EnSurchauffe"><span >En Surchauffe</span> <span class="fa fa-sort"></span></th>
                        <th jh-sort-by="EnManque"><span >En Manque</span> <span class="fa fa-sort"></span></th>

                        <th >
                            <button class="btn btn-primary" ui-sref="entrepot-produit.new"   tooltip="Créer EntrepotProduit">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entrepotProduit in vm.entrepotProduits track by entrepotProduit.id">
                        <td><a ui-sref="entrepotProduit-detail({id:entrepot-produit.id})">{{entrepotProduit.id}}</a></td>
                        <td>{{entrepotProduit.produit.denomination}}</td>
                        <td>{{entrepotProduit.entrepot.libelle}}</td>
                        <td>{{entrepotProduit.stockTheorique}}</td>
                        <td>{{entrepotProduit.stockPhysique}}</td>
                        <td>{{entrepotProduit.ecart}}</td>
                        <td>{{entrepotProduit.seuilAlerte}}</td>
                        <td>{{entrepotProduit.seuilSurStockage}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs"  ng-show="entrepotProduit.EnSurchauffe"
                                    ><i class="fa fa-warning"></i></button>
                            <button class="btn btn-success btn-xs"  ng-show="!entrepotProduit.EnSurchauffe"
                                    ><i class="fa  fa-smile-o"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-xs"  ng-show="entrepotProduit.EnManque"
                                    ><i class="fa fa-warning"></i></button>
                            <button class="btn btn-success btn-xs"  ng-show="!entrepotProduit.EnManque"
                                    ><i class="fa  fa-smile-o"></i></button>
                        </td>

                        <td >

                           
                            <button type="submit"   ui-sref="entrepot-produit.edit({id:entrepotProduit.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="entrepot-produit.delete({id:entrepotProduit.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
