<div class="bg-light lter b-b wrapper-md">
    <nav class="navbar navbar-default" role="navigation" style="font-size: 17px">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="#">
                            <i class="fa fa-home"></i> 
                            Home
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
<div class="wrapper-md" >

    <!-- top row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>LuxFactory manager</h1>
                <p>Bien gérer ses stocks pour augmenter son chiffre d'affaires       </p>
                <p>Le logiciel optimise la gestion des stocks tout en s'adaptant aux logiciels commerciaux et comptables.       </p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

        
            <div class="dashboard-elt text-center col-xs-6 col-md-3" ng-click="ctrl.manageArticles()">
                <div>
                    <h3><i class="fa fa-cubes fa-5x"></i></h3>
                </div>
                <div>
                    <h3>Gerer mes articles</h3>
                </div>

            </div>


            <div class="dashboard-elt text-center col-xs-6 col-md-3" ng-click="ctrl.manageShopping()">
                <div>
                    <h3><i class="fa fa-shopping-cart fa-5x"></i></h3>
                </div>
                <div>
                    <h3>Gerer mes achats</h3>
                </div>
            </div>

            <div class="dashboard-elt text-center col-xs-6 col-md-3" ng-click="ctrl.manageMaintenance()">
                <div>
                    <h3><i class="fa fa-wrench fa-5x"></i></h3>
                </div>
                <div>
                    <h3>Gerer ma maintenance</h3>
                </div>
            </div>


            <div class="dashboard-elt text-center col-xs-6 col-md-3" ng-click="ctrl.manageSite()">
                <div>
                    <h3><i class="fa fa-cogs fa-5x"></i></h3>
                </div>
                <div>
                    <h3>Configurer mon site</h3>
                </div>
            </div>


        </div>
    </div>


</div>


   



