
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myProduitCategorieLabel" >Créer ou modifier  ProduitCategorie</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.produitCategorie.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_libelle">Libelle <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_libelle" ng-model="vm.produitCategorie.libelle"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
