<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Decaissements</h1>
    <small class="text-muted"></small>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <h4 >Filter by date</h4>
                    <p class="input-group">
                        <span class="input-group-addon" >from</span>
                        <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()" required/>
                        <span class="input-group-addon" >to</span>
                        <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()" required/>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr >
                        <th ><span >ID</span> </th>
                        <th ><span >Caisse</span> </th>
                        <th ><span >Date Versement</span> </th>
                        <th ><span >Montant</span> </th>
                        <th ><span >Mode Paiement</span> </th>
                        <th ><span >Motif</span> </th>

                        <th >
                            <button class="btn btn-primary" ui-sref="decaissement.new"   tooltip="Créer Decaissement">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="decaissement in vm.decaissements track by decaissement.id">
                        <td><a ui-sref="decaissement-detail({id:decaissement.id})">{{decaissement.id}}</a></td>
                        <td>{{decaissement.caisse.id}}</td>
                        <td>{{decaissement.dateVersement| date:'mediumDate'}}</td>
                        <td>{{decaissement.montant| number }}</td>
                        <td>{{decaissement.modePaiement}}</td>
                        <td>{{decaissement.motif}}</td>

                        <td >


                            <button type="submit"   ui-sref="decaissement.edit({id:decaissement.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="decaissement.delete({id:decaissement.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
