 <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
             <form class="form-horizontal form-label-left input_mask">

                  <div class="form-group col-sm-4">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zone">Zone </label>
                    <div class="input-group col-md-7 col-sm-7 col-xs-12">
                      <select class="select2_single form-control" tabindex="-1">
                        <option>---</option>
                        <option value="AK">Infirmerie</option>
                        <option value="HI">Zone 2</option>
                        <option value="CA">Zone 3</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="debut">Debut </label>
                    <div class="input-group col-md-7 col-sm-7 col-xs-12">
                        <input  id="debut" type="text" class="form-control" name="debut"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.listeArticles.lastIn"  is-open="vm.datePickerOpenStatus.dateDebut"
                          />
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                  </div>

                  <div class="form-group col-sm-4">
                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="responsable">Responsable </label>
                     <div class="input-group col-md-7 col-sm-7 col-xs-12">
                        <select class="select2_single form-control" tabindex="-1">
                        <option>---</option>
                        <option value="AK">TADIFO Alexis</option>
                        <option value="HI">Haladou</option>
                      </select>
                    </div>
                  </div>

                  

                  <div class="form-group col-sm-4">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activites">Activites </label>
                    <div class="input-group col-md-7 col-sm-7 col-xs-12">
                        <select class="select2_single form-control" tabindex="-1">
                        <option>---</option>
                        <option value="AK">activite 1</option>
                        <option value="HI">activite 2</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fin">Fin </label>
                    <div class="input-group col-md-7 col-sm-7 col-xs-12">
                        <input  id="debut" type="text" class="form-control" name="fin"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.listeArticles.lastOut"  is-open="vm.datePickerOpenStatus.dateFin"
                        />
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                  </div>
             </form>
          </div>
        </div>
        <div class="panel-body table-responsive">


            <div>
              <div class="form-group" style='float: right;'>
                 <button class="btn btn-primary" ui-sref="liste-articles.entrepot_new" tooltip="Ajouter un entrepot"><i class="fa fa-plus"></i></button>
              </div>


              <table id="dt_zonestockage" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped">

                            <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                         <th><span >Libelle</span></th>
                         <th><span >Capactite</span></th>
                         <th><span >Responsable</span></th>

                        <th >
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entrepot in vm.entrepots track by entrepot.id">
                         <td>{{entrepot.libelle}}</td>
                         <td>{{entrepot.capactite}}</td>
                         <td>{{entrepot.responsable.nom}}</td>
                         <td >

                          
                            <button type="submit"   ui-sref="liste-articles.entrepot_edit({id:entrepot.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="liste-articles.entrepot_delete({id:entrepot.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
              </table>
            </div>



        </div>
    </div>
</div>
