<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Procesverbals</h1>
    <small class="text-muted"></small>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span >ID</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="commande"><span >Commande</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="datePv"><span >Date Pv</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="lieuPv"><span >Lieu Pv</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="identiteResponsableAcheteur"><span >Identite Responsable Acheteur</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="identiteResponsable1Prestataire"><span >Identite Responsable 1 Prestataire</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="identiteResponsable2Prestataire"><span >Identite Responsable 2 Prestataire</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="identiteResponsable3Prestataire"><span >Identite Responsable 3 Prestataire</span> <span class="fa fa-sort"></span></th>

                        <th >
                            <button class="btn btn-primary" ui-sref="procesverbal.new"   tooltip="Créer Procesverbal">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="procesverbal in vm.procesverbals track by procesverbal.id">
                        <td>{{procesverbal.id}}</td>
                         <td>{{procesverbal.commande.id}}</td>
 <td>{{procesverbal.datePv}}</td>
 <td>{{procesverbal.lieuPv}}</td>
 <td>{{procesverbal.identiteResponsableAcheteur}}</td>
 <td>{{procesverbal.identiteResponsable1Prestataire}}</td>
 <td>{{procesverbal.identiteResponsable2Prestataire}}</td>
 <td>{{procesverbal.identiteResponsable3Prestataire}}</td>

                        <td >

                           
                            <button type="submit"   ui-sref="procesverbal.edit({id:procesverbal.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="procesverbal.delete({id:procesverbal.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
