<div class="bg-light lter b-b wrapper-md" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="home"><i class="fa fa-home icon"></i> Accueil</a></li>
        <li class="breadcrumb-item active">Transactions</li>
        <li class="breadcrumb-item active" aria-current="page">Factures</li>
      </ol>
    </nav>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        
        <div class="panel-heading">
        <div class="row">
          <form class="form-horizontal form-label-left input_mask">

                     
                        
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                           <label class="control-label col-md-5 col-sm-6 col-xs-12" for="article">Client </label>
                           <div class="input-group col-md-7 col-sm-6 col-xs-12">
                            <ui-select ng-model="vm.client"    ng-required="false" ng-change="vm.search()">
                                <ui-select-match allow-clear="true" placeholder="Select Client">{{$select.selected.nom}}</ui-select-match>
                                <ui-select-choices repeat="client in vm.clients | filter: $select.search">
                                    <div ng-bind-html="client.nom | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> 
                          </div> 
                    </div>

                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                           <label class="control-label col-md-5 col-sm-6 col-xs-12" for="article">Fournisseur </label>
                           <div class="input-group col-md-7 col-sm-6 col-xs-12">
                            <ui-select ng-model="vm.fournisseur"    ng-required="false" ng-change="vm.search()">
                                <ui-select-match allow-clear="true" placeholder="Select fournisseur">{{$select.selected.nom}}</ui-select-match>
                                <ui-select-choices repeat="fournisseur in vm.fournisseurs | filter: $select.search">
                                    <div ng-bind-html="fournisseur.nom | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> 
                          </div> 
                    </div>
                      
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                          <label class="control-label col-md-5 col-sm-6 col-xs-12" for="debut">Date Debut </label>
                          <div class="input-group col-md-7 col-sm-6 col-xs-12">
                              <input  id="debut" type="text" class="form-control" name="debut"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.fromDate"  is-open="vm.datePickerOpenStatus.dateDebut" ng-change="vm.search()" allow-clear = "true"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                          </div>
                        </div>
                     

                      
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                          <label class="control-label col-md-5 col-sm-6 col-xs-12" for="fin">Date Fin </label>
                          <div class="input-group col-md-7 col-sm-6 col-xs-12">
                              <input  id="debut" type="text" class="form-control" name="fin"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.toDate"  is-open="vm.datePickerOpenStatus.dateFin" ng-change="vm.search()"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                          </div>
                        </div>
                      

            </form>
        </div>
      </div>

        <div class="panel-body table-responsive">

             <div has-authority="ROLE_ADMIN" class="form-group" style='float: right;'>
                 <button class="btn btn-primary" ui-sref="liste-factures.new" tooltip="Creer une Facture"><i class="fa fa-plus"></i></button>
              </div>


            <table id="dt_article" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th><span >Numero facture</span></th>
                         <th><span >Date Emission</span> </th>
                         <th><span >Date Echeance</span> </th>
                         <th><span >Date Livraison</span> </th>
                         <th><span >Fournisseur</span> </th>
                         <th><span >Client</span> </th>
                         <th><span >Prix Unitaire</span> </th>
                         <th><span >Quantite</span> </th>
                         <th><span >Produit</span> </th>

                        <th has-authority="ROLE_ADMIN">
                           
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listeFactures in vm.listeFacturess track by listeFactures.id ">
                        <td>{{listeFactures.numeroFacture}}</td>
                         <td>{{listeFactures.dateEmission | date:'mediumDate'}}</td>
                         <td>{{listeFactures.dateEcheance | date:'mediumDate'}}</td>
                         <td>{{listeFactures.dateLivraison | date:'mediumDate'}}</td>
                         <td>{{listeFactures.fournisseur}}</td>
                         <td>{{listeFactures.client}}</td>
                         <td>{{listeFactures.prixUnitaire | number }}</td>
                         <td>{{listeFactures.quantite}}</td>
                         <td>{{listeFactures.produit}}</td>

                        <td has-authority="ROLE_ADMIN">

                           
                            <button type="submit"   ui-sref="facture.edit({id:listeFactures.numeroFacture})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="facture.delete({id:listeFactures.numeroFacture})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
       <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
