<div>
    <jhi-alert></jhi-alert>
</div>

 <div>
    <jhi-alert></jhi-alert>
</div>

 <div class="bg-light lter  wrapper-md" >
    <!-- <h1 class="m-n font-thin h3"><i class="fa fa-cubes icon"></i> Articles</h1>
    <small class="text-muted"></small> -->

    <!-- <nav class="navbar navbar-default" role="navigation" style="font-size: 18px">
            <div>
                <ul class="nav navbar-nav">
                    <li ng-class="{active: $state.includes('articles.articles')}">
                        <a ui-sref=".articles">
                            <i class="fa fa-home"></i> 
                            
                        </a>
                    </li>

                    <li ng-class="{active: $state.includes('articles.articles')}">
                        <a ui-sref=".articles">
                            ----
                        </a>
                    </li>

                    <li ng-class="{active: $state.includes('articles.zoneStockage')}">
                        <a ui-sref=".zoneStockage">
                            <i class="fa fa-database"></i> 
                            
                        </a>
                    </li>
                </ul>
            </div>
        </nav> -->

         <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="active">Items</li>
                <li class="active">Zone de stockage</li>
              </ol>

</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        
               <div class="panel-heading">
          <div class="row">
             <form class="form-horizontal form-label-left input_mask">

                   <div class="form-group col-sm-3">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="article">Activite </label>
                           <div class="input-group col-md-7 col-sm-7 col-xs-12">
                            <select class="select2_single form-control" name="produit" id="produit"
                              ng-options="produit.denomination for produit  in vm.produits track by produit.id"
                              ng-model="vm.produit" ng-change="vm.search()">
                            </select>

                          </div>
                        </div>
                      
                        
                        <div class="form-group col-sm-3">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zone">Zone </label>
                           <div class="input-group col-md-7 col-sm-7 col-xs-12">

                           
                            <select class="select2_single form-control" name="entrepot" id="entrepot"
                              ng-options="entrepot.libelle for entrepot  in vm.entrepots track by entrepot.id"
                              ng-model="vm.entrepot" ng-change="vm.search()">
                            </select>

                             
                          </div>
                        </div>

                      
                        <div class="form-group col-sm-3">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="debut">Debut </label>
                          <div class="input-group col-md-7 col-sm-7 col-xs-12">
                              <input  id="debut" type="text" class="form-control" name="debut"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.fromDate"  is-open="vm.datePickerOpenStatus.dateDebut" ng-change="vm.search()"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                          </div>
                        </div>
                     

                      
                        <div class="form-group col-sm-3">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fin">Fin </label>
                          <div class="input-group col-md-7 col-sm-7 col-xs-12">
                              <input  id="debut" type="text" class="form-control" name="fin"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.toDate"  is-open="vm.datePickerOpenStatus.dateFin"  ng-change="vm.search()"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                          </div>
                        </div>
             </form>
          </div>
        </div>


        <div class="panel-body table-responsive">

            <div>

            <div class="form-group" style='float: right;'>
                <button class="btn btn-default" ui-sref="articles.zoneStockage.new" title="Imprimer la liste" style='margin-right: 5px'><i class="fa fa-print"></i>  </button>
                 <button class="btn btn-default" ui-sref="articles.zoneStockage.new" title="Ajouter une zone de stockage"><i class="fa fa-plus"></i></button>
              </div>

            <table id="dt_listezones" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="dt-first-column">
                            
                        </th>
                        <!-- <th><span >ID</span></th> -->
                         <th><span >Entrepot</span></th>
                         <th><span >Activite</span></th>
                         <th><span >Responsable</span></th>
                        <!--  <th><span >Produit Manque</span></th>
                         <th><span >Produit Exces</span></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listeZones in vm.listeZoness track by listeZones.id">
                      <td >
                            <button type="submit"   ui-sref="liste-zones.edit({id:listeZones.id})" class="btn btn-sm btn-default"  title="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="liste-zones.delete({id:listeZones.id})"  class="btn btn-sm btn-danger"  title="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>
                        </td>
                       <!--  <td>{{listeZones.id}}</td> -->
                         <td>{{listeZones.entrepot}}</td>
                         <td>{{listeZones.activite}}</td>
                         <td>{{listeZones.responsable}}</td>
                        <!--  <td>{{listeZones.produit_manque}}</td>
                         <td>{{listeZones.produit_exces}}</td> -->
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
       
    </div>
</div>
