
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myEcritureCompteAnalytiqueLabel" >Créer ou modifier  EcritureCompteAnalytique</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.ecritureCompteAnalytique.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_compte">Compte <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.ecritureCompteAnalytique.compte"    ng-required="true">
                            <ui-select-match placeholder="Select CompteAnalytique">{{$select.selected.id}}</ui-select-match>
                            <ui-select-choices repeat="compte in vm.comptes | filter: $select.search">
                                <div ng-bind-html="compte.id | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('CompteAnalytique','compte-analytique','compte', vm.ecritureCompteAnalytique.compte)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.ecritureCompteAnalytique.compte">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('CompteAnalytique', 'compte-analytique','compte', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.ecritureCompteAnalytique.compte">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_dateEcriture">Date Ecriture <span style="color:red" >*</span></label>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_montant">Montant <span style="color:red" >*</span></label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_montant" ng-model="vm.ecritureCompteAnalytique.montant"                     ng-readonly="false"  ng-required="true"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_sensEcriture">Sens Ecriture <span style="color:red" >*</span></label>
 <select class="form-control" name="sensEcriture"  ng-model="vm.ecritureCompteAnalytique.sensEcriture"  id="field_sensEcriture" required>
<option value="C">C</option>
<option value="D">D</option>
            </select>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_libelleOperation">Libelle Operation</label>
   <textarea class="form-control" rows="3"  cols="30"   id="field_libelleOperation" ng-model="vm.ecritureCompteAnalytique.libelleOperation"                     ng-readonly="false"  ng-required="false"                     > </textarea>
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
