<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Ecritures Comptables</h1>
    <small class="text-muted"></small>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <h4 >Filter by date</h4>
                    <p class="input-group">
                        <span class="input-group-addon" >from</span>
                        <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()" required/>
                        <span class="input-group-addon" >to</span>
                        <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()" required/>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr >
                        <th ><span >ID</span> </th>
                        <th><span >Compte</span> </th>
                         <th ><span >Libelle Operation</span></th>
                        <th ><span >Date Ecriture</span> </th>
                        <th ><span >Débit</span> </th>
                        <th ><span >Crédit</span> </th>
                       


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ecritureCompteAnalytique in vm.ecritureCompteAnalytiques track by ecritureCompteAnalytique.id">
                        <td>{{ecritureCompteAnalytique.id}}</td>
                        <td>{{ecritureCompteAnalytique.compte.intitule}}-{{ecritureCompteAnalytique.compte.type}}</td>
                          <td>{{ecritureCompteAnalytique.libelleOperation}}</td>

                        <td>{{ecritureCompteAnalytique.dateEcriture| date:'medium'}}</td>
                        <td >{{ecritureCompteAnalytique.sensEcriture==='D'?(ecritureCompteAnalytique.montant| number) :''}}</td>
                        <td >{{ecritureCompteAnalytique.sensEcriture==='C'?(ecritureCompteAnalytique.montant| number) :''}}</td>
                     
                      

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
