
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="mySiteLabel" >Cr&eacuteer ou modifier  Site</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.site.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_nom">Nom <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_nom" ng-model="vm.site.nom"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_localisation">Localisation <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_localisation" ng-model="vm.site.localisation"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_courriel">Courriel</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_courriel" ng-model="vm.site.courriel"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_password">Password</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_password" ng-model="vm.site.password"       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"              ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_smtp">Smtp</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_smtp" ng-model="vm.site.smtp"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_logo">Logo</label>
        <div ngf-drop ngf-change="vm.setMimage($file, 'logo')" ngf-pattern="'image/*'"    ngf-capture="'camera'">
            <img data-ng-src="{{'data:' + vm.site.logoContentType  + ';base64,' + vm.site.logo}}" style="max-height: 100px;" ng-if="vm.site.logo"/>
            <div ng-if="vm.site.logo" class="help-block clearfix">
                <span class="pull-left">{{vm.site.logoContentType}}, {{byteSize(vm.site.logo)}}</span>
                <button ng-click="vm.site.logo = null;vm.site.logoContentType = null;"
                        class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <button type="file" ngf-select class="btn btn-default btn-block"
                    ngf-change="vm.setMimage($file,  'logo')" accept="image/*" >
                Add image
            </button>
        </div>
        <input type="hidden" class="form-control" id="field_logo"  name="logo"
               ng-model="vm.site.logo"      minbytes="5" />
        <input type="hidden" class="form-control" name="logoContentType" id="logoContentType"
               ng-model="vm.site.logoContentType" />

 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_responsable">Responsable <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.site.responsable"    ng-required="true">
                            <ui-select-match placeholder="Select Employe">{{$select.selected.nom}}</ui-select-match>
                            <ui-select-choices repeat="responsable in vm.responsables | filter: $select.search">
                                <div ng-bind-html="responsable.nom | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('Employe','employe','responsable', vm.site.responsable)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.site.responsable">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('Employe', 'employe','responsable', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.site.responsable">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
